################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Bomberman/v16
/Bomberman/Debug
/Debug

Bomberman/x64/Debug/Bomberman\.tlog/

x64/Debug/

Bomberman/x64/Debug/
